# Emacs Temporary files
*~
\#*#

# Build result directory
bin/
obj/

# MonoDevelop config files
*.userprefs

# Visual Studio directory
.vs/

# dotnet restore file
*.lock.json

# Nuget package directory
packages/